<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <link href="/public/style.css" rel="stylesheet" title="Style Sheet Name">
  </head>
  <body>
    <form>
      <label for="input1">Input 1:</label>
      <input type="text" id="input1" name="input1" placeholder="Enter input 1">
      
      <label for="input2">Input 2:</label>
      <input type="text" id="input2" name="input2" placeholder="Enter input 2">
      
      <label for="input3">Input 3:</label>
      <input type="text" id="input3" name="input3" placeholder="Enter input 3">
      
      <label for="input4">Input 4:</label>
      <input type="text" id="input4" name="input4" placeholder="Enter input 4">
      
      <label for="input5">Input 5:</label>
      <input type="text" id="input5" name="input5" placeholder="Enter input 5">
      
      <label for="input6">Input 6:</label>
      <input type="text" id="input6" name="input6" placeholder="Enter input 6">
      
      <button type="button" onclick="generateHelp()">Generate Help</button>
      
      <p id="output"></p>
    </form>
  </body>
  <script src="/public/script.js"></script>
</html>