
      body {
        font-family: sans-serif;
        background-color: #f2f2f2;
      }
      
      form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      button {
        background-color: #6231b1;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #4b1f92;
      }
      
      p {
        margin-top: 20px;
        padding: 10px;
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #ccc;
      }