h2 {
  color: white;
}
h1 {
  color: white;
}
.courseContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
